@font-face {
    font-family: 'A Little Pot';
    src: url('ALittlePot.eot');
    src: url('ALittlePot.eot?#iefix') format('embedded-opentype'),
        url('ALittlePot.woff2') format('woff2'),
        url('ALittlePot.woff') format('woff'),
        url('ALittlePot.svg#ALittlePot') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

